<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.first_name %>. This is for your information.</h1>
    <p>
      Your request for the car "<%= @car.manufacturer %> <%= @car.model %>" is approved.
      Kindly log in to reserve the car!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for using One Plus Car Rental Service!</p>
  </body>
</html>
