<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.first_name %>. This is for your information.</h1>
    <p>
      The car "<%= @car.manufacturer %> <%= @car.model %>" that you had subscribed to is now available.
      Kindly log in to make reserve the car before it is booked by someone else!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for using One Plus Car Rental Service!</p>
  </body>
</html>
