<h1> Welcome, <%= @customer.first_name %>!</h1>
<%= link_to 'Reserve a car', cars_path %>
<%= link_to 'Edit personal details', edit_customer_path %>
<%= link_to 'Sign out', application_sign_out_path %>