<h1> Welcome, <%= @customer.first_name %>!</h1>
<%= link_to 'Reserve a car', cars_path %><br>
<%= link_to 'Edit personal details', edit_customer_path %><br>
<% if is_customer? %>
	<%= link_to 'Sign out', application_sign_out_path %>
<% end %>