// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page-new{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 80vh;
}
